@model Loteria.Web.Models.JogoModels

@{
    ViewBag.Title = "About";
}
<h2>@Model.Nome</h2>
<div class="row">
    <div class="col-md-12" style="text-align:right;">
        <a href="@Url.Action("Index", "Home")">Voltar</a>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="content-box">
            <div class="box-title">Selecione o número do Volante</div>
            <div class="box-body">
                <div class="row">
                    <div class="radio col-md-12" style="padding-left:30px;">
                        @{  int numeroInicial = Model.NumeroInicial;
                            for (int i = 0; i < Model.QtdeLinhas; i++)
                            {
                                for (int j = 0; j < Model.QtdeColunas; j++)
                                {
                                    <label><input type="checkbox" name="volante" value="@numeroInicial" />@numeroInicial.ToString("00")</label>
                                    numeroInicial++;
                                }
                                <br />
                            }
                        }
                    </div>
                </div>
            </div>
            <label>Qtda de números da surpresinha:</label>
            <input class="text-center" style="width:50px;" id="qtde_surpresinha" type="text" value="@Model.QtdeMinNumeroMarcadoVolante" />
            <div class="box-footer" style="text-align:right;">
                <input class="btn btn-success" id="limpar" value="Limpar Apostas" type="button" style="margin-right:30%;" />
                <input class="btn btn-success" id="supresinha" value="Supresinha" type="button" />
                <input class="btn btn-success" id="inserir" value="Inserir" type="button" />
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="content-box">
            <div class="box-title">Resultado do Sorteio</div>
            <div class="box-body">
                <div class="row">
                    <div class="radio col-md-12" style="padding-left:30px;">
                        @{  numeroInicial = Model.NumeroInicial;
                            for (int i = 0; i < Model.QtdeLinhas; i++)
                            {
                                for (int j = 0; j < Model.QtdeColunas; j++)
                                {
                                    <label><input type="checkbox" name="resultado" value="@numeroInicial" />@numeroInicial.ToString("00")</label>
                                    numeroInicial++;
                                }
                                <br />
                            }
                        }
                    </div>
                </div>
            </div>
            <div class="box-footer" style="text-align:right;">
                <input class="btn btn-success" id="conferir" value="Conferir" type="button" />
                <input class="btn btn-success" id="gerar" value="Gerar" type="button" />
            </div>
        </div>
    </div>
</div>
<div class="row" style="padding-top:20px;">
    <div class="col-md-12">
        <label style="font-size:16px;">VOLANTES CADASTRADOS</label>
        <div id="dialog" style="padding-top:20px">
            @if (Model.ApostasFeitas != null && Model.ApostasFeitas.Count > 0)
            {
                @Html.Partial("Volantes", Model)
            }
        </div>
    </div>
</div>


@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {


function LimparCheckbox(pListaCheckbox) {
    for (var i = 0; i < pListaCheckbox.length; i++) {
                    $(pListaCheckbox[i]).prop('checked', false);
    }
}

function MarcarAleatoriamenteCheckBox(pNameCheckBox, pQtdeNumeroMaxMarcar, pQtdeNumerosJogo) {
    while (document.querySelectorAll('input[name = "' + pNameCheckBox + '"]:checked').length < (pQtdeNumeroMaxMarcar * 1)) {
        var numero = Math.floor((Math.random() * pQtdeNumerosJogo) + 1);
        var node = document.querySelectorAll('input[name="' + pNameCheckBox + '"][value="' + numero + '"]');
        var first = node[0];
                    $(first).prop('checked', true);
    }
}

function ListaNumerosMarcados(pNomeCheckBox)
{
    var listaNumero = "";
    var nobe = document.querySelectorAll('input[name="' + pNomeCheckBox +'"]:checked');
    for (var i = 0; i < nobe.length; i++) {
        if (i == 0)
            listaNumero = listaNumero + "" + $(nobe[i]).val();
                   else
                       listaNumero = listaNumero + ";" + $(nobe[i]).val();
    }

    return listaNumero
           }

function ChamarComandoAjax(pUrl,pId,pListaNumeros)
{
               $.ajax({
        type: "POST",
                        url: pUrl,
                        async: false,
                        data: { pId: pId,  pNumeros: pListaNumeros },
                        dataType: 'Html',
                        success: function (response) {
                            $('#dialog').html(response);
        },
                        failure: function (jqXHR, textStatus, errorThrown) {
            alert(errorThrown);
            window.location.href = "@Url.Action("Index", "Home")";
        },
                        error: function (jqXHR, textStatus, errorThrown) {
            alert(errorThrown);
            window.location.href = "@Url.Action("Index", "Home")";
        }
    });
            }

            $('input[name="volante"]').on("change", function () {
                if (document.querySelectorAll('input[name="volante"]:checked').length > @Model.QtdeMaxNumeroMarcadoVolante)
                {
                    alert("O máximo de número permitido é de " + "@Model.QtdeMaxNumeroMarcadoVolante dezenas.");
                    $(this).prop('checked', false);
                }
            });

            $('input[name="resultado"]').on("change", function () {
                if (document.querySelectorAll('input[name="resultado"]:checked').length > @Model.QtdeNumeroSorteados)
                {
                    alert("O máximo de número permitido é de " + "@Model.QtdeNumeroSorteados dezenas.");
                    $(this).prop('checked', false);
                }
            });

            $("#supresinha").on("click", function () {
                LimparCheckbox(document.querySelectorAll('input[name="volante"]:checked'));
                if (($("#qtde_surpresinha").val() * 1) >= @Model.QtdeMinNumeroMarcadoVolante && ($("#qtde_surpresinha").val() * 1) <= @Model.QtdeMaxNumeroMarcadoVolante)
                {
                    MarcarAleatoriamenteCheckBox('volante', ($("#qtde_surpresinha").val() * 1),@Model.QuantidadeNumeros);
                } else
                    alert("A quantidade de dezenas marcadas no volante deve ficar entre " + @Model.QtdeMinNumeroMarcadoVolante + " a "+ @Model.QtdeMaxNumeroMarcadoVolante + ".");
            });

           $("#gerar").on("click", function () {
               LimparCheckbox(document.querySelectorAll('input[name="resultado"]:checked'));
                MarcarAleatoriamenteCheckBox('resultado',@Model.QtdeNumeroSorteados,@Model.QuantidadeNumeros);
            });

           $("#limpar").on("click", function () {
               $.ajax({
                   type: "POST",
                   url: "/Home/LimparApostas",
                   async: false,
                   data: { pId: @Model.Id },
                   dataType: 'Html',
                   success: function (response) {
                       $('#dialog').html(response);
                   },
                   failure: function (jqXHR, textStatus, errorThrown) {
                       alert(errorThrown);
                       window.location.href = "@Url.Action("Index", "Home")";
                   },
                   error: function (jqXHR, textStatus, errorThrown) {
                       alert(errorThrown);
                       window.location.href = "@Url.Action("Index", "Home")";
                   }

               });
           });


            $("#inserir").on("click", function () {
                if (document.querySelectorAll('input[name="volante"]:checked').length >= @Model.QtdeMinNumeroMarcadoVolante && document.querySelectorAll('input[name="volante"]:checked').length <= @Model.QtdeMaxNumeroMarcadoVolante)
                {
                    var listaNumeros = ListaNumerosMarcados('volante');
                    ChamarComandoAjax("/Home/InserirAposta", @Model.Id, listaNumeros);
                    LimparCheckbox(document.querySelectorAll('input[name="volante"]:checked'));

                } else {
                    alert("A quantidade de dezenas marcadas no volante deve ficar entre " + @Model.QtdeMinNumeroMarcadoVolante + " a "+ @Model.QtdeMaxNumeroMarcadoVolante + ".");
                    return false;
                }
           });

            $("#conferir").on("click", function () {
                if (document.querySelectorAll('input[name="resultado"]:checked').length == @Model.QtdeNumeroSorteados )
                {
                    var listaNumeros = ListaNumerosMarcados('resultado');
                    ChamarComandoAjax("/Home/Conferir", @Model.Id, listaNumeros);
                } else {
                    alert("A quantidade de números sorteados para esse jogo deve ser " + @Model.QtdeNumeroSorteados + ".");
                    return false;
                }
            });

        });
    </script>
}

